header{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    .logo{
        margin-right: 40px;
    }
    .nav_Bar{
        flex-grow: 1;
    }
    .menu{
        display: flex;
        li{
            font-size: 24px;
            margin-right: 30px;
        }
    }
    .infoData{
        display: flex;
        align-items: center;

        .basket{
            margin-right: 30px;
        }
    }
}