.block{
    margin:0 auto;
    &_title{
        margin-top: 100px;
        text-align: center;
        font-size: 40px;
    }
    &_conteiner{
        display: flex;
        flex-direction: row;
    }
    &-mainContent{
        flex-grow: 1;
    }
    &_windowOrder{
        margin: 150px auto;
   

    }
}